<!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="margin-top:0px;margin-bottom:0px"><!-- wp:columns {"className":"inner-pages-wrap"} -->
<div class="wp-block-columns inner-pages-wrap"><!-- wp:column {"width":"80%","className":"post-col"} -->
<div class="wp-block-column post-col" style="flex-basis:80%"><!-- wp:group {"className":"post-inner","style":{"spacing":{"padding":{"bottom":"0px","right":"50px","top":"50px","left":"50px"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group post-inner" style="padding-top:50px;padding-right:50px;padding-bottom:0px;padding-left:50px"><!-- wp:template-part {"slug":"header","theme":"cinema-house","tagName":"header"} /-->

<!-- wp:pattern {"slug":"cinema-house/page-title"} /-->

<!-- wp:group {"tagName":"main","className":"query-wrap","style":{"spacing":{"margin":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|20"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group query-wrap" style="margin-top:var(--wp--preset--spacing--70);margin-bottom:var(--wp--preset--spacing--20)"><!-- wp:query {"queryId":10,"query":{"perPage":"10","pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false}} -->
<div class="wp-block-query"><!-- wp:post-template {"fontSize":"small","layout":{"type":"grid","columnCount":3}} -->
<!-- wp:group {"className":"inner-post-box lite-shadow wow zoomInDown delay-1000","style":{"spacing":{"padding":{"top":"2em","right":"2em","bottom":"2em","left":"2em"}},"border":{"radius":"10px"}},"backgroundColor":"base","layout":{"type":"default"}} -->
<div class="wp-block-group inner-post-box lite-shadow wow zoomInDown delay-1000 has-base-background-color has-background" style="border-radius:10px;padding-top:2em;padding-right:2em;padding-bottom:2em;padding-left:2em"><!-- wp:post-featured-image {"style":{"border":{"radius":"10px"}}} /-->

<!-- wp:group {"className":"post-title","style":{"spacing":{"blockGap":"var:preset|spacing|20"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group post-title"><!-- wp:separator {"backgroundColor":"primary"} -->
<hr class="wp-block-separator has-text-color has-primary-color has-alpha-channel-opacity has-primary-background-color has-background"/>
<!-- /wp:separator -->

<!-- wp:post-title {"textAlign":"left","level":4,"style":{"elements":{"link":{"color":{"text":"var:preset|color|heading"}}}},"textColor":"heading"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"className":"archieve-meta","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group archieve-meta"><!-- wp:post-date {"style":{"typography":{"fontStyle":"normal","fontWeight":"600"},"elements":{"link":{"color":{"text":"var:preset|color|heading"}}}},"textColor":"heading","fontSize":"small"} /-->

<!-- wp:post-author-name {"isLink":true,"style":{"typography":{"fontStyle":"normal","fontWeight":"600"},"elements":{"link":{"color":{"text":"var:preset|color|heading"}}}},"textColor":"heading","fontSize":"small"} /--></div>
<!-- /wp:group -->

<!-- wp:post-excerpt {"textAlign":"left","moreText":"","excerptLength":20} /-->

<!-- wp:group {"className":"archieve-readmore","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group archieve-readmore"><!-- wp:separator {"backgroundColor":"primary"} -->
<hr class="wp-block-separator has-text-color has-primary-color has-alpha-channel-opacity has-primary-background-color has-background"/>
<!-- /wp:separator -->

<!-- wp:read-more {"content":"Read More","style":{"typography":{"textDecoration":"none"},"spacing":{"padding":{"right":"var:preset|spacing|20","left":"var:preset|spacing|20"}},"elements":{"link":{"color":{"text":"var:preset|color|primary"}}}},"textColor":"primary","fontSize":"small"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->
<!-- /wp:post-template -->

<!-- wp:spacer {"height":"16px"} -->
<div style="height:16px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:query-pagination {"fontSize":"medium","layout":{"type":"flex","justifyContent":"center"}} -->
<!-- wp:query-pagination-previous /-->

<!-- wp:query-pagination-numbers /-->

<!-- wp:query-pagination-next /-->
<!-- /wp:query-pagination --></div>
<!-- /wp:query --></main>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"20%","className":"sidebar-col"} -->
<div class="wp-block-column sidebar-col" style="flex-basis:20%"><!-- wp:template-part {"slug":"homepage-sidebar","theme":"cinema-house","area":"uncategorized","className":"home-sidebar-outer"} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:columns {"className":"inner-pages-wrap","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}}} -->
<div class="wp-block-columns inner-pages-wrap" style="margin-top:0;margin-bottom:0"><!-- wp:column {"width":"80%","className":"post-col"} -->
<div class="wp-block-column post-col" style="flex-basis:80%"><!-- wp:group {"className":"post-inner post-inner-2","style":{"spacing":{"padding":{"bottom":"50px","right":"50px","top":"0px","left":"50px"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group post-inner post-inner-2" style="padding-top:0px;padding-right:50px;padding-bottom:50px;padding-left:50px"><!-- wp:template-part {"slug":"footer","theme":"cinema-house","tagName":"footer","className":"custom-footer-class"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"20%","className":"sidebar-col footer-sidebar"} -->
<div class="wp-block-column sidebar-col footer-sidebar" style="flex-basis:20%"></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->